extends ./layout.pug

block content
  .page-header
    h1 User Identity API Services
  p.lead
    | User identity open source identity manager supports
    code  JWT, local auth/signup, facebook, linkedin, twitter, github, google.

                     

