style.
    .profile {
        width: 50%;
        margin: 0 auto;
    }    


div.profile
    h3 This is user profile page
        div
             h2 user: #{user}
        div
            a(href="/logout") Logout